/*a.link{
  cursor:pointer;
}*/

body>div[ui-view="main-content"] {
  padding-left: 16px;
  padding-right: 16px;
}

div.form-container-med {
  width: 800px;
}

div.form-button-row {
  margin-top: 40px;
}

div.invalid-message {
  margin-top: 5px;
}

div.invalid-message>span {
  position: relative;
  color: #a94442;
}

.form.ng-submitted .ng-invalid,.ng-invalid.ng-touched {
  border-color: #a94442
}
